services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: spring-backend
    restart: always
    depends_on:
      - postgres
      - redis
    env_file:
      - ./backend/.env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USER: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
      REDIS_HOST: redis
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  pg_data: {}
