services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${}
      POSTGRES_USER: ${}
      POSTGRES_PASSWORD: ${}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/data
  redis:
    image: redis:7
    container_name: redis
    restart: always
    env_file:
      - .env
    ports:
      - "6379:6379"
  backend:
    build: .
    container_name: spring-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"

volumes:
  pg_data: {}
