@import "tailwindcss";


.flexing_style1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexing_style2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_image{
    background-image: url("../public/3431361.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.input_style {
    display: flex;
    align-items: center;
    gap: 2;
    border: 1px;
    border-radius: 2rem;
}